<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script th:inline="javascript">
	function confirmFunction() {
		var confirmMessage = confirm("ユーザ情報を更新します。よろしいですか？");
		if (confirmMessage == true) {
			alert("ユーザ情報を更新しました");
			return true
		} else {
			alert("更新をキャンセルしました");
			return false
		}
	}

	function deletedConfirmFunction() {
		var confirmMessage = confirm("本当に削除してもよろしいですか？");
		if (confirmMessage == true) {
			alert("ユーザ情報を削除しました");
			return true
		} else {
			alert("削除をキャンセルしました");
			return false
		}
	}
</script>
<title>管理者編集画面</title>
</head>
<body>
	<h2>管理者編集</h2>
	<form th:action="@{/edit/{id}(id=*{id})}"
		th:object="${adminUserRequest}" th:method="post">
		<label>メールアドレス</label> <input type="email" name="input"
			th:field="*{email}" /> <label>ユーザ名</label> <input type="text"
			name="input" th:field="*{name}" /> <label>パスワード</label> <input
			type="password" name="input" th:field="*{password}" /> <label>確認用パスワード</label><input
			type="password" th:field="*{confirmPassword}"> <input
			type="submit" onclick="return confirmFunction()" value="削除">
	</form>
	<form th:action="@{/delete}" th:object="${adminUserRequest}"
		th:method="post">
		<input type="hidden" th:field="*{id}"> <input type="submit"
			onclick="return deletedConfirmFunction()" value="削除">
	</form>
	<table>
		<tr th:if="${errorMsg}" th:each="error : ${errorMsg}">
			<td style="color: red;" th:text="${error}"></td>
		</tr>
	</table>
</body>
</html>